.main{
    display: flex;
    color: white;
}
.a{
    position: absolute;
    left: 45%;
    top: 1%;
    color: #353b48;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c8dce9;
}
.first {
    background-color: #eccc68;
    height: 20vh;
    width: 20%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.second {
    background-color: #ff7f50;
    height: 20vh;
    width: 20%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    left: 20.3%;
}
.third {
    background-color: #ff6b81;
    height: 20vh;
    width: 20%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    left: 40.3%;
}
.fourth {
    background-color: #a4b0be;
    height: 20vh;
    width: 20%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    left: 60.3%;
}
.fifth {
    background-color: #57606f;
    height: 20vh;
    width: 18.1%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    left: 80.3%;
}
.sixth {
    background-color: #ffa502;
    height: 20vh;
    width: 20%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 22.8%;
}
.seventh {
    background-color: #ff6348;
    height: 20vh;
    width: 20%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 22.8%;
    left: 20.5%;
}
.eight{
    background-color: #ff4757;
    height: 20vh;
    width: 20%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 22.8%;
    left: 40.5%;
}
.nine{
    background-color: #747d8c;
    height: 20vh;
    width: 20%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 22.8%;
    left: 60.5%;
}
.ten{
    background-color: #2f3542;
    height: 20vh;
    width: 18%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 22.8%;
    left: 80.5%;
}
.onee{
    background-color: #7bed9f;
    height: 20vh;
    width: 20%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 42.8%;
}
.twoo {
    background-color:#70a1ff ;
    height: 20vh;
    width: 20%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 42.8%;
    left: 20.5%;
}
.threee{
    background-color:#5352ed;
    height: 20vh;
    width: 20%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 42.8%;
    left: 40.5%;
}
.fourr {
    background-color:#ffffff ;
    height: 20vh;
    width: 20%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 42.8%;
    left: 60.5%;
}
.fivee {
    background-color:#dfe4ea ;
    height: 20vh;
    width: 18%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 42.8%;
    left: 80.5%;

}
.sixx{
    background-color:  #2ed573;
    height: 20vh;
    width: 20%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 62.8%;
}
.sevenn{
    background-color: #1e90ff;
    height: 20vh;
    width: 20%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 62.8%;
     left: 20.5%;
}
.eightt {
    background-color: #3742fa;
    height: 20vh;
    width: 20%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 62.8%;
    left: 40.5%;
}
.ninee{
    background-color:#f1f2f6;
    height: 20vh;
    width: 20%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 62.8%;
    left: 60.5%;
}
.tenn {
    background-color:#ced6e0;
    height: 20vh;
    width: 18%;
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 62.8%;
    left: 80.5%;
}
